<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Application quandl</title>

    <link href="static/style.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css"
	  rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>

    {{ plot_script|indent(2)|safe }}

  </head>

  <body>

    <div class="input">
      <form id='ticker' method='post' action='index' >
	<span id="ticklab">Download Image:</span>
	<input type='text' name='ticker_text' />
	<input type='submit' value='Submit' />
      </form>
    </div>

    {{ plot_div|indent(4)|safe }}
	
	<img src = "{{url_for('static', filename='00028173_010.png')}}">
    
  </body>
  
</html>
