<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Application</title>

    <link href="static/style.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css"
	  rel="stylesheet" type="text/css">
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>

	{{ bokeh_script|indent(4)|safe }}

  </head>

  <body>

    <div class="input">
      <form id='ticker' method='post' action='index' >
	<span id="ticklab">Ticker symbol:</span>
	<input type='text' name='ticker_text' />
	<input type='submit' value='Submit' />

	<img src = "{{url_for('static', filename='image.jpg')}}">
      </form>
    </div>

    {{ bokeh_div|indent(4)|safe }}

    
    
    
    
  </body>
  
</html>